@plugin "flyonui/theme" {
    name: "sunlight";
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98.462% 0.001 247.838);
    --color-base-300: oklch(0.898 0.001 286.373);

    --color-base-content: oklch(0.305 0.050 255); /* more saturation for content text */
    --color-primary: oklch(56.86% 0.255 257.57);
    --color-primary-content: oklch(98% 0.005 259.822);
    --color-secondary: oklch(42.551% 0.161 282.339);
    --color-secondary-content: oklch(98% 0.005 259.822);
    --color-accent: oklch(59.939% 0.191 335.171);
    --color-accent-content: oklch(98% 0.005 259.822);
    --color-neutral: oklch(19.616% 0.063 257.651);
    --color-neutral-content: oklch(98% 0.005 259.822);
    --color-info: oklch(.546 .245 262.881);
    --color-info-content: oklch(98% 0.005 259.822);
    --color-success: oklch(.627 .194 149.214);
    --color-success-content: oklch(98% 0.005 259.822);
    --color-warning: oklch(.828 .189 84.429);
    --color-warning-content: oklch(98% 0.005 259.822);
    --color-error: oklch(.586 .253 17.585);
    --color-error-content: oklch(98% 0.005 259.822);
    --radius-selector: 1rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}