@using MoonCore.Blazor.Tailwind.Components
@using WebAppTemplate.Frontend.UI.Partials
@using MoonCore.Blazor.Tailwind.Toasts
@using MoonCore.Blazor.Tailwind.Modals

@inherits LayoutComponentBase

<div>
    <AppSidebar Layout="this"/>

    <div class="lg:pl-72">
        <AppHeader Layout="this"/>

        <main class="py-10">
            <div class="px-4 sm:px-6 lg:px-8">
                <CascadingValue Value="this" IsFixed="true">
                    @Body
                </CascadingValue>
            </div>
        </main>
    </div>
</div>

<ToastLauncher/>
<ModalLauncher/>

@code
{
    // Mobile navigation
    public event Func<Task> OnStateChanged;
    public bool ShowMobileNavigation { get; private set; } = false;

    public async Task ToggleMobileNavigation()
    {
        ShowMobileNavigation = !ShowMobileNavigation;
        await OnStateChanged();
    }
}
